---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Concept from '../components/Concept.astro';
import Artworks from '../components/Artworks.astro';
import Participants from '../components/Participants.astro';
import Exhibition from '../components/Exhibition.astro';
import Video from '../components/Video.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Виставка «Трансформації»">
  <Header />
  
  <main>
    <Hero />
    <Concept />
    <Artworks />
    <Participants />
    <Exhibition />
    <Video />
  </main>

  <Footer />
</Layout>
